<!DOCTYPE html>
<html>
<head>
    <title>Artist Found</title>
</head>
<body>
    <h1>Artist Found</h1>
    <p>Artist Name: {{ artist_name }}</p>
    <p>Artist Link: <a href="{{ artist_url }}" target="_blank">Open Artist</a></p>
    <p>Artist Image: <img src="{{ artist_image }}" alt="Artist Image" width="100"></p>
    <hr>
    <h2>Top Tracks</h2>
    {{ top_tracks_html|safe }}
    <hr>
    <h2>Related Artists</h2>
    {{ related_artists_html|safe }}
    <br><a href="/home">Back to Home</a>
</body>
</html>
