<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <form action="/create_playlist" method="post">
        <label for="mood">How do you feel today?</label>
        <input type="text" id="mood" name="mood" required>
        <label for="language">Preferred Language:</label>
        <input type="text" id="language" name="language" required>
        <input type="submit" value="Submit">
    </form><br>
    
    <a href="/logout">Logout</a>
    <hr>
    {{ currently_playing_html|safe }}
    <h2>Your Top Artists</h2>
    {{ artists_html|safe }}
    <hr>
    <h2>Your Top Tracks</h2>
    {{ tracks_html|safe }}
</body>
</html>
